*{
    font-family: poppins;
}
body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin:20px;
}

.slider{
    height: 450px;
    position: relative;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: white;
}

.type{
    display: flex;
    flex-direction: column;
}

.type a{
    color: black;
    margin: 5px 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.type span{
    color: rgba(41, 38, 38, 0.5);
    font-weight: 500;
}

.preco{
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

.comprar{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(155, 187, 248, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnComprar{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.btnComprar:hover{
    color: white;
    background-color: rosybrown;
    transition: all ease 0.3s;
}

.comprar{
    visibility: hidden;
}

.slider:hover .comprar{
    visibility: visible;
    animation: fadeimage 0.5s;
}

@keyframes fadeimage{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



#banner{
    margin: 0 auto;
    width: 100%px;
    max-width: 100%;
    text-align: center;
}

#banner input[type=radio] {
    display: none;
}

#banner label{
    cursor: pointer;
    text-decoration: none;
}

#banners{
    padding: 10px;
    border: 3px solid #000;
    background: #fff;
    position: relative;
    z-index:1;
}

#overflow{
    width: 100%;
    overflow: hidden;
}

#slide1:checked ~ #banners .inner{
    margin-left: 0;
}

#slide2:checked ~ #banners .inner{
    margin-left: -100%;
}

#slide3:checked ~ #banners .inner{
    margin-left: -200%;
}

#banners .inner{
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 400px;
}

#banners .Banner{
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#banners .banner_1{
    background-color: saddlebrown;
}
#banners .banner_2{
    background-color: rgb(33, 139, 19);
}
#banners .banner_3{
    background-color: rgb(19, 67, 139);
}

#controles{
    margin:-180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index:3;
    position: relative;
}
#controles label{
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}
#controles label:hover{
    opacity: 1;
}

#marcadores{
    margin: 150px 0 0;
    text-align: center;
}

#marcadores label{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #e2e2e2;;
    margin: 0 10px;
}

#slide1:checked ~ #marcadores label:nth-child(1),
#slide2:checked ~ #marcadores label:nth-child(2),
#slide3:checked ~ #marcadores label:nth-child(3){
    background-color: #292929
}

/* responsividade do Banner rotativo*/
@media (max-width:858px) {
    #slide1:checked ~ #controles label:nth-child(2),
    #slide2:checked ~ #controles label:nth-child(3),
    #slide3:checked ~ #controles label:nth-child(1),
    #slide1:checked ~ #controles label:nth-last-child(2),
    #slide2:checked ~ #controles label:nth-last-child(3),
    #slide3:checked ~ #controles label:nth-last-child(1){
        margin: 0; 
    }

    #banners .inner{
        height: 200px;
    }

}