/*Google fonts CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;0,900;1,100;1,600;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #031D44;
}

/*Formulário de Cadastro*/
.formularioCadastro{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*Botões de Cadastro e Login */
.cadastro{
    height: 700px;
    width:900px;
    background-color: white;
    padding:0px 30px 0 30px;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.acessos{
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
    padding: 25px;
    margin-bottom: 40px;
}
.btnLogCad{
    padding:  10px 25px 10px 25px;
    margin:  0 25px 0 0;
    text-decoration: none;
    font-weight: bold;
    text-transform:uppercase ;
    color: #031D44;
    font-size: 18px;
    border-radius: 7px;
}
.cadastreSe{
    color: #F2545B;
}
.logar:hover{
    background-color: #F2545B;
    color: white;
    transition: all 0.3s;
}

/*Campos do formulário*/
.formCad label{
    font-size: 16px;
    color: #031D44;
    font-weight: 600;
}
.formCad input{
    height: 40px;
    width:400px;
    padding: 5px 0 5px 10px;
    margin:10px 0 30px 0;
    font-size: 18px;
    color: #031D44;
    border: 1px solid #C4C4C4;
    background-color: #F4F4F4 ;
    border-radius: 7px;
}

.fColuna{
    float: left;
    margin-right: 70px;
}

/*Botões Cadastrar-se e Cancelar*/
.cadastrar-cancelar{
    text-align: center;
    margin-top: 30px;
}
.acessar{
    padding:10px 25px 10px 25px;
    margin:0 25px 0 0;
    text-decoration: none;
    font-weight: bold;
    text-transform:uppercase ;
    color:#F2545B;
    font-size: 18px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
.btnCadastrar{
    background-color: #F2545B;
    color: white;
}

/*Responsividade do formulário de Cadastro*/
@media (max-width:952px){
    .cadastro{
        height: 700px;
        width:450px;
        overflow: auto;
    }
    .acessar{
        margin:0 10px 50px 0;
    }
}

