/*--------------------INICIO DA PÁGINA EM CSS*/
.produtosL1, .produtosL3{
    background-color: #f8f8f8;
}
.peca{
    text-align: center;
    margin: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.048);
    height: 550px;
    position: relative;
}
.pecaImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.pecaImg img:hover{
    transform: scale(0.95);
    transition: all 0.3s;
}
.descricao{
    border-top: 1px solid #08070517;
    padding-top: 15px;
    margin: 8px ;
}
.descricao .nomeProduto{
    color: #031D44;
    font-weight: 600;
    font-size: 14px;
}
.descricao a:hover{
    color: #0c397c;
    text-decoration: none;
}
.descricao .valor{
    margin: 20px 0;
    font-size: 25px;
    font-weight: 700;
}
.botaoComprar a{
    background-color: #247BA0;
    padding: 5px 25px;
    font-size: 18px;
    color: white;
    border-radius: 50px;
    margin:10px 0;
}
.botaoComprar a:hover{
    background-color: #031D44;
    color: white;
    transition: all 0.5s;
    text-decoration: none;
}

/*Responsividade do corpo da página*/
@media (max-width:952px){
    .peca{
        text-align: center;
        margin: 30px;
        background-color: #ffffff;
        border-radius: 10px;
        width: 150px;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.048);
        height: 420px;
        position: relative;
    }
    .pecaImg img{
        width: 40%;
        height: 40%;
        object-fit: cover;
        box-sizing: border-box;
    }
    .descricao{
        border-top: 1px solid #08070517;
        padding-top: 15px;
        margin: 8px ;
    }
    .descricao .nomeProduto{
        color: #031D44;
        font-weight: 600;
        font-size: 14px;
    }
    .descricao .valor{
        margin: 20px 0;
        font-size: 25px;
        font-weight: 700;
    }
    .botaoComprar a{
        background-color: #247BA0;
        padding: 5px 25px;
        font-size: 18px;
        color: white;
        border-radius: 50px;
        margin:10px 0 50px 0;
    }

}

/*--------------------FIM DA PÁGINA EM CSS*/