/*Google fonts CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: poppins;
}

/*INICIO MENU CSS*/

/*Login, sacola de compras, favoritos e perfil*/

.menu{
    width: 100%;
}
.acessos{
    background-color: #FFBC42;
    padding: 7px;
}
        /*Login*/
.logCadBtn{
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 2px 5px 2px 5px;
    text-transform: uppercase;
    font: weight 500px;;
}
.logCadBtn:hover{
    color: #FFBC42;
    background-color: white;
    border-radius: 7px;
    text-decoration: none;
}
        /*Sacoala, favoritos, perfil*/
.arrowCompras{
    padding-top: -10px;
    font-size: 30px;
    color: white;
    float: right;
    margin-left: 10px;
    padding: 5px;
}
.arrowCompras:hover{
    background-color: white;
    color: #FFBC42;
    border-radius: 50px;
}

/*logo, menu de navegação e barra de busca*/

/*logo*/
.logo {
    margin-left: 30px;
    float: left;
}
.imgLogo:hover{
    background-color: transparent;
}

/*menu de navegação*/
.mainMenu{
    background-color: #F2545B;
    width: 100%;
    padding: 10px;
}

.mainMenu ul{
    margin-left: 20px;
    list-style-type: none;
}

.mainMenu ul li{
    display: inline;
    position: relative;
    margin: 0 5px;
}
.mainMenu ul li a{
    color: #fff;
    font-size: 16px;
    padding: 7px 13px;
    text-decoration: none;
    display: inline-block;
}
.mainMenu ul li a:hover{
    transform: scale(1.1);
}

/* Sub menu*/
.mainMenu ul ul{
    margin: 0;
    left: 0;
    position: absolute;
    background-color:#F2545B;
}
.mainMenu ul ul{
    left: 0;
    display: none;;
    position: absolute;
    border-radius: 5px;
}

.mainMenu ul li:hover ul{
    display: block;
}
.mainMenu ul ul{
    width: 130px;
}

.mainMenu ul ul li a{
    padding: 10px;
}
.mainMenu ul ul li a:hover{
    transform: scale(1.1);
}
.closebtn{
    display: none;
}
.checkBtn{
    font-size: 40px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left:50px;
    }
    .mainMenu ul li a{
        font-size: 15px;
    }
}

@media (max-width:858px) {
    .checkBtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 10vh;
        background-color: #F2545B;
        top:80px;
        left: -100%;
        text-align: left;
        transition: all .5s;
    }
    .mainMenu ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .mainMenu ul li a{
        font-size: 20px;
        color: black;
    }
    a.active, a:hover{
        background-color: none;
        color: #F2545B;
    }
    #check ~ ul{
        left: 0;
    }

    #check:checked ~ ul{
        left: 0;
    }

}