/*Google fonts CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

/*INICIO MENU HTML*/

/*Login, sacola de compras e favoritos*/
.menu{
    height: 100px;
    width: 100%;
}
.acessos{
    background-color: #FFBC42;
}
.acessos > .logCad{
    margin-top: 10px;
}
.btnlogCad{
    color: white;
    text-decoration: none;
    margin-left:30px;
    font-size: 17px;
    margin-top: 5px;
    padding: 2px 5px 2px 5px;
}
.btnlogCad:hover{
    color: #FFBC42;
    background-color: white;
    border-radius: 7px;
}
.arrowCompras{
    padding-top: -10px;
    font-size: 30px;
    color: white;
    float: right;
    margin-left: 10px;
    padding: 5px;
}
.arrowCompras:hover{
    background-color: white;
    color: #FFBC42;
    border-radius: 50px;
}

/*Logo, menu de navegação e barra de busca*/
.navMenu{
    background-color: #F2545B;
    height: 80px;
}
.imgLogo{
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}
.navbar{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 100px;
}
nav ul ul {
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav {
    margin: 0 auto;
    text-align: center;
}
nav ul {
	padding: 0 20px; 
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

nav ul li {
		float: left;
	}
			nav ul li:hover a {
				color: #fff;
                transform:scale(1.1);
			}
		
		nav ul li a {
			display: block; 
            padding: 15px 20px;
			color: #ffffff; 
            text-decoration: none;
		}

nav ul ul {
		background: #F2545B; 
        border-radius: 10px 10px 10px 10px; 
        padding:0;
		position: absolute; 
        top: 100%;
	}
		nav ul ul li {
			float: none; 
			border-bottom: 1px solid rgba(255, 255, 255, 0.274);
            position: relative;
		}
			nav ul ul li a {
				padding: 15px 20px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #F2545B;
				}

    nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}

    /*Campo de busca*/
.buscar{
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 40px;
    margin-top:20px;
    padding: 5px 5px 5px 7px;
}
.buscar input{
    outline: none;
}
.buscaBtn{
    color:#F2545B;
    float: right;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
}
.buscaText{
    border:none;
    background: none;
    float: left;
    color:#F2545B;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 240px;
    justify-content: center;
}
.hamburguer{
    display: none;
}

@media (max-width:1044px){

    .imgLogo{
        margin-left: 15px;
    }
    .navbar{
        margin-left: 25px;
    }
    .arrowdropdown{
        font-size: 13px;
    }
    nav ul li a {
        font-size: 14px;
        padding: 15px;
    }

}

@media (max-width:815px){
    .hamburguer{
        display: block;
        float: left;

        
    }
    .bx-menu{
        color:#fff;
        text-decoration: none;
        font-size: 25px;
        padding: 10px;
    }
        

}