/*--------------------FORMULÁRIO DE CONTATO*/
.contatoForm{
    margin-top: 100px;
}

.contatoForm input, .contatoForm textarea{
    height: 40px;
    width: 90%;
    padding: 5px 0 5px 10px;
    margin:10px 0 20px 0;
    font-size: 18px;
    color: #031D44;
    border: 1px solid #C4C4C4;
    background-color: #F4F4F4 ;
    border-radius: 7px;
    outline: none;
}

.assunto input{
    width: 95%
}

.contatoForm textarea{
    height:200px;
    width: 95%
}

.btnEnviar{
    text-align: center;
}

.contatoForm input:hover, .contatoForm textarea:hover{
    background-color: rgba(0, 0, 0, 0.075);
    transition: all 0.3s;
} 

.contatoForm input:active, .contatoForm textarea:active{
    background-color: white !important;
    border: 2px solid #C4C4C4;
}

.buttonForm{
    text-align: center;
}

.btnEnviar{
    background-color: #247BA0;
    padding: 7px 80px 7px 80px;
    margin-bottom: 20px;
    border-radius: 30px;
    border:none;
    color:white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-transform:uppercase;
}

.btnEnviar:hover{
    background-color: #1e5d79;
    transition: all 0.3s;
    
}


/*Responsividade do formulário de Contato*/
@media (max-width:952px){
    .contatoForm{
        margin-left: 20px;
    }
    .contatoForm input, .contatoForm textarea{
        width: 100%;
    }
    
}