/*------------------INICIO DO RODAPÉ EM CSS*/
/*Footer*/
.rodape{
    background-color: #ee6269;
}
.txtFooter{
    color: #ffffff;
    font-weight: 600; 
    text-transform: uppercase;
}

/*Logo e informações*/
.imgLogoFooter{
    margin: 30px 0 0 30px;
}
.infoFooter{
    margin: 40px 0 0 30px;
    color: rgba(255, 255, 255, 0.637);
    font-weight: 600;
    cursor: pointer;
}
.infoFooter a{
    color: rgba(255, 255, 255, 0.637);
}
.infoFooter a:hover{
    color: rgba(255, 255, 255, 0.863);
    text-decoration: none;
}

/*Menu Footer*/
.menuFooter {
    justify-content: center;
    margin: 30px 0 0 0;
}
.footerMenu li{
    list-style: none;
}
.footerMenu li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 5px 20px 5px 20px;
}
.footerMenu li a:hover{
    background-color: #fff;
    color: #F2545B;
    border-radius: 30px;
    transition: all 0.5s;
}
.dropFooterMenu{
    margin-left: 20px;
    text-transform: none;
}

/*Ajuda Footer*/
.footerAjuda{
    margin: 30px 0 0 0;
}
.ajudaFooter{
    color: white;
    font-weight: 600;
}
.ajudaFooter li{
    list-style: none;
}
.itemAjudaFooter  a{
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
}
.itemAjudaFooter a:hover{
    background-color: #fff;
    color: #F2545B;
    border-radius: 30px;
    transition: all 0.5s;
    text-decoration: none;
}

/*Login Cadastro Footer*/
.acessoFooter{
    margin: 30px 0 0 0;
    text-align: left;
}
.logCadFooter{
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
}
.logCadFooter:hover{
    text-decoration: none;
    background-color: #fff;
    color: #F2545B;
    border-radius: 10px;
    transition: all 0.5s;   
}

/*Mídias*/
.txtmidias{
    display: none;
}
.midias{
    margin: 15px 0 0 40px;
}
.midiasSociais{
    color: white;
    font-size: 30px;
    padding: 8px;
    border-radius: 30px;
}
.midiasSociais:hover{
    background-color: #fff;
    color: #F2545B;
    border-radius: 30px;
    transition: all 0.5s;
}
.politica{
    margin: 0 0 0 10px;
}
.politicaUso{
    color: white;
    font-size: 13px;
    margin-top: 10px;
}
.politicaUso a{
    color: white;
    font-size: 13px;
}
.politicaUso a:hover{
    color: rgb(233, 233, 233);
    text-decoration: none;
}
.copy{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top:32px;
}
.copyright{
    color: white;
    font-size: 10px;
}


/*Formas de pagamento*/
.pagamentos{
    text-align: center;
    margin: 20px 0 25px 0;
}
.infoPag{
    justify-content: center;
    text-align: center;
}
.pagamentos p{
    color: #C4C4C4;
    text-transform: uppercase;
    font-weight: bold;
}
.pag{
    color: #C4C4C4;
    font-size: 50px;
    padding: 10px;
}

/*Responsividade do rodapé*/
@media (max-width:858px) {
    /*Logo e contato*/
    .contato-footer{
        text-align: center;
    }
    .infoFooter{
        margin-top: 5px;
        font-size: 16px;
    }

    /*Menu Footer*/
    .menuFooter {
        display: none;
    }

    /*Ajuda Footer*/
    .footerAjuda{
        text-align: center;
    }
    .txtFooter{
        background-color: rgb(255, 255, 255);
        color: #F2545B;
        width: 100%;
        border-radius: 10px;
    }

   /*Login Cadastro Footer*/
   .acessoFooter{
       margin-top: 20px;
       text-align: center;
   }
    .logCadFooter{
        display: none;
    }
    .txtmidias{
        display: block;
        color: #F2545B;
        background-color: white;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 10px;
    }

    /*Formas de pagamento*/
    .pagamentos{
        margin-top: 15px;
        text-align: center;
    }
    .pagamentos p{
        text-align: center;
    }
    .infoPag{
        justify-content: center;
        text-align: center;
    }
    .pagamento{
        text-align: center;
    }
    .pag{
        color: #C4C4C4;
        font-size: 50px;
        padding: 10px;
    }

}
